{% extends 'base.html' %}


{% block content %}
   <form method="get">
    <div class="row">
        <!-- Column 1 -->
        <div class="col-md-3">
            <select class="form-control" name="food1" onchange="this.form.submit()">
                <option value="">Select Food</option>
                {% for food in choice1 %}
                    <option value="{{ food.id }}" {% if food.id|stringformat:"s" == selected_food1 %}selected{% endif %}>
                        {{ food.name }}
                    </option>
                {% endfor %}
            </select>
            <ul>
                {% for food in food_list1 %}
                    <li>{{ food.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Column 2 -->
        <div class="col-md-3">
            <select class="form-control" name="food2" onchange="this.form.submit()">
                <option value="">Select Food</option>
                {% for food in choice2 %}
                    <option value="{{ food.id }}" {% if food.id|stringformat:"s" == selected_food2 %}selected{% endif %}>
                        {{ food.name }}
                    </option>
                {% endfor %}
            </select>
            <ul>
                {% for food in food_list2 %}
                    <li>{{ food.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Column 3 -->
        <div class="col-md-3">
            <select class="form-control" name="food3" onchange="this.form.submit()">
                <option value="">Select Food</option>
                {% for food in choice3 %}
                    <option value="{{ food.id }}" {% if food.id|stringformat:"s" == selected_food3 %}selected{% endif %}>
                        {{ food.name }}
                    </option>
                {% endfor %}
            </select>
            <ul>
                {% for food in food_list3 %}
                    <li>{{ food.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Column 4 -->
        <div class="col-md-3">
            <select class="form-control" name="food4" onchange="this.form.submit()">
                <option value="">Select Food</option>
                {% for food in choice4 %}
                    <option value="{{ food.id }}" {% if food.id|stringformat:"s" == selected_food4 %}selected{% endif %}>
                        {{ food.name }}
                    </option>
                {% endfor %}
            </select>
            <ul>
                {% for food in food_list4 %}
                    <li>{{ food.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>

{% endblock content %}