{% extends 'base.html' %}


{% block content %}
<div class="container py-5">
    <form method="get"
        action="{% url 'food-list' %}">
        <div class="d-flex justify-content-between align-items-ceter">
            <input class="form-control rounded-pill"
                type="text"
                name="q"
                placeholder="Search..."
                value="{{ search_query }}">
           
        </div>
    </form>
    <br>


    {% for food in object_list %}
    <a class="btn btn-outline-dark m-1 rounded-pill"
        href="{% url 'food-detail' food.pk %}">
        {{ food.name }}
    </a>
    {% empty %}
    <p>No food yet.</p>
    {% endfor %}
<hr>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a
                href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.week_plan %}&week_plan={{ request.GET.week_plan }}{% endif %}">First</a>
            <a
                href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.week_plan %}&week_plan={{ request.GET.week_plan }}{% endif %}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of
                {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a
                href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.week_plan %}&week_plan={{ request.GET.week_plan }}{% endif %}">Next</a>
            <a
                href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.week_plan %}&week_plan={{ request.GET.week_plan }}{% endif %}">Last</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}