<br><br><br>
<div class="fixed-bottom">
    <div class="text-bg-dark pb-1 pt-2">
        <div class="d-flex justify-content-between px-lg-5 px-4">
            <a href="{% url 'food-week-plan' %}">
                <span class="material-symbols-outlined fs-1 text-white">
                    event
                </span>
            </a>
            <a href="{% url 'food-choices' %}">
                <span class="material-symbols-outlined fs-1 text-white">
                    travel_explore
                    </span>
            </a>
            <a href="/">
                <span class="material-symbols-outlined fs-1 text-white">
                    home
                </span>
            </a>
            <a href="/">
                <span class="material-symbols-outlined fs-1 text-white">
                    storefront
                    </span>
            </a>
           
          
        </div>
    </div>
</div>