<div class="fixed-top">
    <div class="text-bg-dark pb-1 pt-2">
        <div class="d-flex justify-content-between px-3">
            <a href="#">
                <span onclick="history.back()"
                    class="material-symbols-outlined fs-1 text-white">
                    arrow_back
                </span>
            </a>
            <div>
                <a class="text-decoration-none me-2" href="{% url 'food-liked' %}">
                    <span class="material-symbols-outlined fs-1 text-white">
                        heart_plus
                    </span>
                </a>
                <a href="/">
                    <span class="material-symbols-outlined fs-1 text-white">
                        account_circle
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<br><br><br>